@import "tailwindcss";

@theme {
  --color-primary: #1a5275;
  --color-background-light: #f6f7f8;
  --font-display: "Public Sans", sans-serif;
}

body { 
  font-family: 'Public Sans', sans-serif;
  background-color: #f6f7f8;
  color: #0f172a;
}
