body { font-family: 'Public Sans', sans-serif; }
        .material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
        .active-link { background-color: rgba(0, 85, 164, 0.1); border-left: 4px solid #0055A4; }